@model IEnumerable<ghinelli.johan._5h.Ecommerce.Models.Auto>

@{
    ViewData["Title"] = "Cerca";
}

<h1>Cerca Auto</h1>

<div class="Auto">
    @foreach (var item in Model)
    {
        <div class="Auto-item">
            <img src="/img/@item.Image" alt="@item.Marca" class="Auto-item-image"/>
            <div class="Auto-item-details">
                <h3>@item.Marca</h3>
                <p>Modello: @item.Modello</p>
                <p>Anno: @item.Anno</p>
                <p>Cilindrata: @item.Cilindrata</p>
                <p>Prezzo: @item.Prezzo</p>
                <p>Chilometraggio: @item.Chilometraggio</p>
                <form asp-controller="Cart" asp-action="AddToCart" method="post">
    <input type="hidden" name="id" value="@item.Id" />
  @if (User?.Identity?.IsAuthenticated == true)
{
    <button type="submit">Aggiungi al carrello</button>
}
else
{
    <button type="button" onclick="alert('Devi effettuare l\'accesso per aggiungere al carrello')">Aggiungi al carrello</button>
}



</form>
            </div>
        </div>
    }
</div>

<style>
    .Auto {
        display: flex;
        flex-wrap: wrap;
    }
    .Auto-item {
        border: 1px solid #ddd;
        padding: 10px;
        margin: 10px;
        width: 200px;
        text-align: center;
    }
    .Auto-item-image {
        max-width: 100%;
        height: auto;
    }
    .Auto-item-details {
        margin-top: 10px;
    }
</style>
