@model ghinelli.johan._5h.Ecommerce.Models.Auto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Auto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Modello)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Modello)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Marca)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prezzo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prezzo)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a> |
 @if (User?.Identity?.IsAuthenticated == true)

    {
        <form asp-action="AddToCart" method="post">
            <input type="hidden" name="id" value="@Model.Id" />
            <button type="submit" class="btn btn-primary">Aggiungi al carrello</button>
        </form>
    }
    else
    {
        <a href="@Url.Action("Login", "Home")">Effettua il login per aggiungere al carrello</a>
    }
</div>
